main.home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title-wrapper .logo {
  width: 30rem;
}

.title-wrapper h2 {
  font-size: 2.7rem;
  color: rgb(255, 255, 93);
}

.button-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
}

.mc-button {
  font-family: 'Minecraft Ten', sans-serif;
  height: 48px;
  width: 220px;
  padding: 0.5rem 1rem 0.25rem;
}

.mc-button.play {
  background-color: #3c8527;
  font-size: 1.5rem;
}

.mc-button.play:hover {
  background-color: #337121;
}

/* - - MEDIA - - */
@media (max-width: 580px) {
  .title-wrapper .logo {
    width: 25rem;
  }

  .title-wrapper h2 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .title-wrapper .logo {
    width: 20rem;
  }

  .title-wrapper h2 {
    font-size: 1.8rem;
  }

  .mc-button.play {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .title-wrapper .logo {
    width: 17.5rem;
  }

  .title-wrapper h2 {
    font-size: 1.7rem;
  }
}
