@font-face {
  font-family: 'Minecraft Ten';
  src: url('../assets/fonts/MinecraftTen.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Minecraft Ten', sans-serif;
  user-select: none;
}
